
@model List<PortalPexIM.ViewModel.FiltroEstados>

<style>
</style>


<div class="row ">
    <div class="col-md-12 quadro">
        <h3 id="p1">Upload</h3>
        <br />
    </div>
</div>

@using (Html.BeginForm("Importar", "upload", FormMethod.Post, new { enctype = "multipart/form-data", id = "myform" }))
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Importdador de bases</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="label-control">Datetime Picker</label>
                <input type="text" class="form-control datetimepicker" id="periodo" name="periodo" value="" />
            </div>
            <input type="file" id="arquivo" name="arquivo">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>
}



<script>

    $(document).ready(function () {

        $('.datetimepicker').datetimepicker({
            format: 'MM/YYYY',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });
    })
   
</script>







