@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">place</i>
                </div>
                <h4 class="card-title">Indicador Nacional</h4>
            </div>

            <div class="card-body ">
                <div class="row">

                    <div class="col-md-4 ml-auto mr-auto" style="text-align:center">
                  

                    </div>
                    <div class="col-md-4 ml-auto mr-auto" style="text-align:center">
                        <div class="container">
                     

                        </div>
                    </div>
                    <div class="col-md-4 ml-auto mr-auto" style="text-align:center">
                        <div class="container">
                          

                        </div>
                    </div>

                </div>
            </div>
        </div>



        </div>
</div>

<script>
    $(document).ready(function () {

    });
</script>
