@model List<PortalPexIM.ViewModel.FiltroEstados>

<style>


    .radio {
        padding: 35px;
    }
</style>


<div class="row ">


    <div class="col-md-6 quadro">
        <h3 id="p1">Download</h3>
        <br />
    </div>

    <div class="col-md-3">


    </div>

    <div class="col-md-3 c">
        @*<button type="button" class="btn btn-primary">Venda</button>
            <button type="button" class="btn btn-light">Locação</button>*@
        <div class="togglebutton radio">
            <label>
                <span style="font-weight:bold"></span>Venda
                <input type="checkbox" id="cmbAbsoluto">
                <span class="toggle"></span>Locação
            </label>
        </div>
        <br />

    </div>



</div>



<div class="row a">
    @*<div class="col-md-3">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Cidade</label>
        </div>
        <div class="col-md-3">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Bairro</label>
        </div>
        <div class="col-md-3">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Tipo</label>
        </div>
        <div class="col-md-3">

        </div>*@
</div>




@*<div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">place</i>
                    </div>
                    <h4 class="card-title">Indicador nacional</h4>
                </div>

                <div class="card-body ">
                    <div class="row">

                        <div class="col-md-12 ml-auto mr-auto" id="boxGraficos">

                            <div class="form-group">
                                <label for="exampleFormControlSelect2">Selecione o Bairro...</label>
                                <select multiple class="form-control selectpicker" data-style="btn btn-link" title="" id="">

                                    <option value="1">Consumo s/Ajuste</option>
                                    <option value="2">Share % s/Ajuste</option>
                                    <option value="3">Consumo c/Ajuste</option>


                                </select>
                            </div>


                        </div>


                        <div class="col-md-4 ml-auto mr-auto" style="text-align:center">


                        </div>
                        <div class="col-md-4 ml-auto mr-auto" style="text-align:center">
                            <div class="container">


                            </div>
                        </div>
                        <div class="col-md-4 ml-auto mr-auto" style="text-align:center">
                            <div class="container">


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>*@





<div class="row">
    <div class="col-md-6">
        <form id="RegisterValidation" action="" method="" novalidate="novalidate">
            <div class="card ">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">mail_outline</i>
                    </div>
                    <h4 class="card-title">Register Form</h4>
                </div>
                <div class="card-body ">
                    <div class="form-group bmd-form-group">

                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Indicador Nacional</label>
                            <select multiple class="form-control selectpicker" data-style="btn btn-link" title="" id="">

                                @foreach (var item in Model)
                                {
                                    <option value="@item.CodEstado">@item.NomeEstado</option>
                                }


                            </select>
                        </div>

                    </div>
                    <div class="form-group bmd-form-group">
                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Tipo de dado</label>
                            <select multiple class="form-control selectpicker" data-style="btn btn-link" title="" id="">

                                <option value="">Todos</option>
                                <option value="1">Venda</option>
                                <option value="2">Locação</option>


                            </select>
                        </div>
                    </div>
                    <div class="form-group bmd-form-group">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="label-control">Mês/Ano</label>
                                <input type="text" class="form-control datetimepicker" value="21/06/2018" />
                            </div>
                        </div>
                    </div>
                    @*<div class="category form-category">* Required fields</div>*@
                </div>
                <div class="card-footer text-right">
                    <div class="form-check mr-auto">
                        @*<label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="" required="" aria-required="true"> Subscribe to newsletter
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>*@
                    </div>
                    <button type="submit" class="btn btn-danger">Cancelar</button>
                    <button type="submit" class="btn btn-success">Baixar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $('.datetimepicker').datetimepicker({
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        }
    });
</script>







