@model List<PortalPexIM.ViewModel.FiltroEstados>

<style>


    .radio {
        padding: 35px;
    }
</style>

<div class="row">
    <div class="col-md-6">
    
            <div class="card ">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">download</i>
                    </div>
                    <h4 class="card-title">Download de base</h4>
                </div>

                @using (Html.BeginForm("GerarCsv", "Download", FormMethod.Post, new { enctype = "multipart/form-data", id = "myform" }))
                {
                    <div class="card-body ">
                        <div class="form-group bmd-form-group">

                            <div class="form-group">
                                <label for="exampleFormControlSelect2">Indicador Nacional</label>

                            </div>

                        </div>
                        <div class="form-group bmd-form-group">
                            <div class="form-group">
                                <label for="exampleFormControlSelect2">Tipo de dado</label>
                                <select  class="form-control selectpicker" data-style="btn btn-link" title="" id="tipoImovel" name="tipoImovel">
                                    <option value="">Todos</option>
                                    <option value="1">Venda</option>
                                    <option value="2">Locação</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group bmd-form-group">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="label-control">Mês/Ano</label>
                                    <input type="text" class="form-control datetimepicker" id="periodo" name="periodo" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer text-right">
                        <div class="form-check mr-auto">

                        </div>

                        <button type="submit" class="btn btn-success">Baixar</button>
                    </div>
                }

            </div>
   
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.datetimepicker').datetimepicker({
            format: 'MM/YYYY',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });
    });
  
</script>







